p {
    font: 0.5rem;
}

.psPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pStyle {
    min-height: 300px;
    width: auto;
   
}


.btnGallery {
    width: 50%;
    margin: 10px auto;
    
}

.btnGallery a {
    text-decoration: none;
    color: darkslategray;
    padding: 5px;
    font-size: 1.5em;
}

.btnGallery:hover {
    border: 2px solid blueviolet;
}
.allImg {
    padding: 10px;
    min-height: 400px;
    max-height: 400px;
}

/* .allImg {
    min-height: 60%;
    min-width: 40%;
    /* max-height: 20%; 

} */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
    min-height: 275px;
    min-width: auto;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {

    .pGallery {
        background-color: rgb(13, 13, 13);
    }

    .pGallery h2 {
        font-size: 14px;
        color: white;
    }

    .myImg {
        min-height: 150px;
        /* max-height: 150px; */
        margin: 5px;
        width: 100%;

    }

    .psPage {
        width: 100%;
        margin: 0 auto 0 22%;
        display: flex;
        flex-flow: column;
    }

    .pStyle>h2 {
        font-size: 12px;
    }

    .btnGallery {
        font-size: 8px;
    }
    .btnGallery:hover {
        border: 2px solid purple;
    }

    .allImg {
        min-height: 150px;
        margin: 15px;
        width: 100%;

    }


}