* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Quicksand;
    color: darkgrey;
    line-height: 1.1;
    background-color: white;
}

header {
    line-height: 1.8;
    font-family: PTSans;
    margin-bottom: 20px;
}

header h1 {
    margin: 15px 0;
}

.sColor {
    color: grey;
    font-size: 3rem;
}

.secondStyle {
    color: grey;
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 15px;

}

nav a {
    text-decoration: none;
    font-family: Quicksand;
    color: grey;
}

nav a:hover {
    border-top: 2px solid darkgrey;
    color: darkslategrey;
}

.carry h2 {
    margin: 30px 0;
}

.boxes {
    margin: 0 5px 45px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}

.boxitem {
    min-height: 175px;
    max-height: 175px;
    width: 20%;
    margin: 10px 2%;
    text-decoration: none;

}

.boxitem>div {
    position: relative;
    margin-top: 75%;
    padding: 4px 6px;

}

.boxitem h3 {
    font-size: 1.2rem;
    color: black;
    font-weight: bolder;
    text-align: center;
}

.classicbw {
    background-image: url('../images/13.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.classicbw:hover {
    background-image: url("../images/buster.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.chroma {
    background-image: url('../images/91a.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.chroma:hover {
    background-image: url("../images/IMG_3294.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.modern {
    background-image: url('../images/17.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.modern:hover {
    background-image: url("../images/laughter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.luxe {
    background-image: url('../images/19a.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.luxe:hover {
    background-image: url("../images/girls.jpg");
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Cards are split into two columns at 992px or smaller */
/* @media screen and (max-width: 992px) {

  } */

/* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 844px) {
    header h1 {
        font-size: 14px;
    }

    .sColor {
        font-size: 16px;
    }

    header h2 {
        font-size: 12px;
    }

    header p {
        font-size: 12px;
    }

    nav {
        line-height: 1.1;
    }

    nav a {
        font-size: 10px;
    }

    .btn-group button {
        font-size: 10px;
        line-height: 1.1;
    }

    nav div li a {
        font-size: 10px;
    }

    .mediaSpecial {
        width: 75%;
    }

    .carry h2 {
        font-size: 14px;
    }

    .boxes {

        justify-content: center;
      
       
    }

    /* .boxitem {

    } */
    .boxitem>div {
        margin-top: 65%;
        float: left;
    }
    .boxitem {
        width: 50%;
        min-height: 100px;
        max-height: 100px;
        /* flex-basis: calc(50 - 1em);  */
        background-size: 75%;
    }

    .boxitem h3 {
        text-align: center;
        font-size: 9px;
        font-weight: bolder;
        
    }
  
}